<Title:>
  Skyhopper: Game #{{_game.id}}

<Scripts:>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="/javascripts/skyhopper.js"></script>

<Body:>
  <div class="header">
    <h1>Welcome ((_player.name))</h1>
    <p>There are ((_game.playerCount)) players in the game:</p>
    <p><label>Your name: <input value="((_player.name))"></label>
  </div>
  <div class="content">
    <div id="players">
      <ul>
        ((#_game.players))
          <li>((.name))</li>
        ((/))
      </ul>
    </div>
    <div id="table">
      ((#_game.players))
        ((.cards > card))
      ((/))
    </div>
  </div>

<card:>
  <div class="card" id="((.domId))" data-owner-index="((.ownerIndex))" data-card-index="((.cardIndex))" style="top: ((.position.top)); left: ((.position.left)); z-index: ((.position.layer))">
    <img src="{{.thumbnail-url}}"/>
  </div>
