@import "./reset";
@import "nib/vendor";

body {
  padding: 2em;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

p {
  line-height: 2em;
}

div#table {
  position: relative;
  height: 600px;
  width: 700px;
  background: #9999FF;
  float: left;
}

div#players {
  float: left;
  width: 100px;
}

.card {
  height: 85px;
  width: 62px;
  background: #000000;
}

.card img {
  height: 85px;
}

.stack {
  height: 85px;
  width: 62px;
  border: 1px solid red;
}

