@import "./reset";
@import "nib/vendor";

body {
  padding: 2em;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

p {
  line-height: 2em;
}

div#table {
  position: relative;
  height: 600px;
  width: 720px;
  background: #9999FF;
  float: left;
  padding: 5px;
}

div.header {
  margin-bottom: 10px;
}

div#players {
  float: left;
  margin: 10px;
  width: 100px;
}

div#players ul {
  list-style: none;
}

.card {
  height: 85px;
  float: left;
  margin: 5px;
  width: 62px;
  background: #000000;
}

.card img {
  height: 85px;
}

.stack {
  height: 85px;
  width: 62px;
  border: 1px solid red;
}

